<!-- <p id="notice"><%= notice %></p> -->



<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Product Details:</strong>
  <%= @product.details %>
</p>
  
  <%= image_tag @product.avatar.url(:medium) %>

<p>
  <strong>Price:</strong>
  $<%= @product.formatted_price %>
</p>

<div>
<%= form_tag charges_path do %>
  <article>
    <label class="amount">
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description=<%=@product.name%>
          data-amount= "<%=@product.price_cents%>"> </script>
          <%= hidden_field_tag 'product', @product.id %>
<% end %>
</div>

<h3> Reviews </h3>
<% @product.reviews.each do |review| %>
	<p>  <%= review.comment %> </p>
  <p>Reviewed By: <%= current_user.email %> : <%= time_ago_in_words(review.created_at) %> ago </p>
  <hr>

<% end %>
<br>

<h3>New Review</h3>

<%= render 'reviews/form' %>

<%= link_to 'Edit', edit_product_path(@product), class: 'pure-button button-show_edit'%> 
<%= link_to 'Back', products_path, class: 'pure-button button-show_edit' %>
