<!DOCTYPE html>
<html>
<head>
	<title> BUY ONLINE </title>

	<!-- [4] Pure CSS Insert |cc| -->
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
	<link rel="stylesheet" href="css/layouts/pricing.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- [4] End |cc| -->

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>

<body>
	<div>
	<p class="navbar-text pull-right login">

		<% if user_signed_in? %>
			Logged in as <strong><%= current_user.email %></strong>.
			<%= link_to 'Edit profile', edit_user_registration_path, :class => 'pure-button button-show_edit' %> |
			<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
		<% else %>
			<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
			<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
		<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>

	</div>

		<%= yield %>

	</body>
	</html>
